ul li a{
    background-color: rgb(217, 226, 235);
    color: black;
    border: 1px solid black;
    font-style: none;
    padding: 3px;
    padding-right: 38px;
    float: left;
    text-decoration: none;


}

ul li a:hover{
    background-color: darkgrey;
    

}


ul{
    list-style: none;
    margin-left: 18%;
}