/* Colores usados: #FDDBBD, #F2D0AB, #C9A568, #B0B0B0, #C9A568 y #DDDDDD 
Propiedades de Texto necesarias:
	font-family: sans-serif; 
  	text-align: justify, center,....;
	font-size: 150%,300%,....; 
  	font-style: normal,oblique,....;
	text-transform: uppercase,lowercase,....; 

 */

*{
	text-align: justify,

}
p:first-letter { 
  color: #C9A568; 
  font-size: 300%; 
  font-style: normal;
}
aside{
	width: 282px;
}
body{
background-color: #FDDBBD;
font-family: sans-serif;
font-style: normal;
}

header{
text-align: center;
text-transform: uppercase;
color: #B0B0B0;
font-size: 300%;
font-weight: bolder;


}
.title{
	text-transform:capitalize;
	background-color: #C9A568;
	color: #DDDDDD ;
	position: relative;
	top: -14px;
	width: 187px;
	left: 41px;
	height: 29px;
	padding-left: 5px;
	font-weight: bold;
	font-size: 150%;
	
}
/*
.firsletter{
	text-transform: uppercase;
	font-size: 300%; 
	color: #C9A568;
}
*/
.box{
	border: dashed;
	border-color: #C9A568;
	font-style: oblique;
	background-color: #F2D0AB;
	height: 250px;

}
