#p1{
text-align: right;

}
#p2{
    text-align: center;
}
#linHor{
width: 100%;
height: 1px;
border-top: 1px dashed #CCC;
position: absolute;
top: 50%;
left: 0;

}

#linVer{
height: 100%;
width: 1px;
border-left: 1px dashed #CCC;
position: absolute;
top: 0;
left: 50%;
}


#d1{width:60px;height:60px;border:2px solid blue;position: absolute;top:0; Left:0}
#d2{width:60px;height:60px;border:2px solid green;position:absolute;bottom:0;left:0}
#d3{width:60px;height:60px;border:2px soltd lime;position:absolute;top:70px; Left:100px}
#d4{width:60px;height:60px;border:2px solid orange;position:absolute;bottom:50%;right: 50%;}
#d5 {width:60px;height:60px;border:2px solid red;position:absolute;top:50%;Left:50%}
#d6{width:60px;height:60px;border:solid cyan;position: absolute; top:25%; right:25%}
#d7{width:60px;height:60px;border:solid rgb(226, 161, 218);position: absolute; top:50%; right:0%}
#d8{width:60px;height:60px;border:solid rgb(226, 161, 218);position: absolute; top:25%; right:25%}
#d9{width:60px;height:60px;border:solid rgb(0, 255, 76);position: absolute; top:70px; left:100px}
#d10{width:400px;height:400px;border:solid cyan;position: absolute; top:50%; right:50%;margin-right: -200px;margin-top: -200px;}
