body{
border: 10px #FFF173;
}
h1{
margin-top: -31px;
}

.arriba{
border:solid  25px #FFF173;
}

.abajo{
margin-top: -18px;
}

.ajuste{
padding-left: 250px;
padding-right: 250px;
padding-top: 80px;
padding-bottom: 80px;
}

.contenedor{
background:#FFC533 ;
/*
border-top:25px;
border-top-color: currentcolor;
border-bottom:5px;
border-right:8px;
border-left:8px;
*/
border:solid 15px #FFC533;
border-bottom-width: 5px;
border-left-width: 10px;
border-right-width: 10px;
margin:15px;
}
.naranja{
border:solid 5px #FF7700 ;
margin:5px;
}
.amarillo{
background:#FFDA33 ;
border:solid 5px #FFDA33;
margin-top:5px;
}
.titulo{
background:#FF7700 ;
color:white;
font-weight:bold;
}
span{
font-weight:bold;
}
p{
padding:0px 5px;
}
